# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: Publish Proto package to GitHub Packages

on:
  release:
    types: [published]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  publish_typescript:
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/proto')
    permissions:
      contents: read
      packages: write
    steps:
      - name: Get the version
        id: get_version
        run: echo ::set-output name=VERSION::$(echo $GITHUB_REF | cut -d / -f 4)
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '16.x'
          registry-url: 'https://npm.pkg.github.com'
          # Defaults to the user or organization that owns the workflow file
          scope: '@wcode'
      - uses: actions/setup-python@v2
        with:
          python-version: '3.9'
          cache: 'pip'
      - name: Install dependencies
        working-directory: ./proto
        run: pip install -r requirements.txt
      - name: Setup builder
        working-directory: ./proto
        run: python3 builder.py setup
      - name: Build typescript 
        working-directory: ./proto
        run: python3 builder.py build -l ts
        env:
          TS_LIBRARY_VERSION: ${{ steps.get_version.outputs.VERSION }}
      - name: Publish typescript
        working-directory: ./grpc/ts/user-management
        run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}


  publish_kotlin:
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/proto')
    permissions:
      contents: read
      packages: write
    steps:
      - name: Get the version
        id: get_version
        run: echo ::set-output name=VERSION::$(echo $GITHUB_REF | cut -d / -f 4)
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v2
        with:
          java-version: '11'
          distribution: 'adopt'
      - name: Validate Gradle wrapper
        uses: gradle/wrapper-validation-action@e6e38bacfdf1a337459f332974bb2327a31aaf4b
      - name: Publish package
        working-directory: ./proto
        run: gradle publish
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NEW_VERSION: ${{ steps.get_version.outputs.VERSION }}