
name: Test service

on:
  release:
    types: [prereleased]
    
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:

  test_service:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-go@v2

      - name: Build
        working-directory: ./service
        run: go build -v 

      - name: Run tests
        working-directory: ./service
        run: go test "./..." -v -coverprofile="coverage.out" -covermode=count -json > report.json

      - name: Sonarcloud scan
        working-directory: ./service
        uses: sonarsource/sonarcloud-github-action@master
        with:
          args: >
            -Dsonar.organization=${{ secrets.SONAR_CLOUD_ORGANIZATION }}
            -Dsonar.projectKey=${{ secrets.SONAR_PROJECT_KEY }}
            -Dsonar.test.exclusions=tests/**
            -Dsonar.tests=tests/
            -Dsonar.verbose=true
            -Dsonar.go.tests.reportPaths=report.json
            -Dsonar.go.coverage.reportPaths=coverage.out
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_CLOUD_TOKEN }}
        